<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">AstroManager</a>
        <div>
            <button class="btn btn-outline-light me-2">Dark Mode</button>
            <img src="~/images/user.png" class="rounded-circle" width="35" alt="User" />
        </div>
    </div>
</header>
